/* body {
  background-color: lightgrey;
}

.box{   
        
    padding: 70px 10px; 
             
}

.smallbox{

    background-color: white;
    padding: 50px 10px; 
    text-align: center; 
    margin: 10px 0px;

}

i{

    color: skyblue


}

.cont{

margin: 20px 0px;

}

a{

    border-bottom: 2px solid #009bff;
} */

/* body {
  background-color: rgb(70, 69, 69);
  
}

.smallbox {
  background-color: rgb(245, 150, 7);
  text-align: center;
  color: white; 
  padding: 100px 100px;
  max-width: 100%;  
  display: flex; 
  flex-wrap: wrap;  
}

.logo {
  border-radius: 50%;
  border: 3px solid #fff;                                           
  padding: 15px;
  background-color: aqua;
}

.smallbox1 {
  background-color: rgb(24, 154, 225);
  color: white;
  text-align: center;
  padding: 100px 100px;
  max-width: 100%;
 
} */



